Django
pillow
gunicorn
whitenoise
django-allauth
django-debug-toolbar
djangorestframework
django-extensions
django-filter
daphne
phonenumberslite
django-phonenumber-field
psycopg
redis
django-redis
celery
flake8
isort
black
requests
channels
channels_redis
python-dotenv
