{% extends 'products/base.html' %}
{% load static cache humanize %}


{% block meta %}
    <meta name="description"
          content="Купить можно всего в два клика. На выбор  товары различных категорий: от масс-маркета до премиум-брендов. Коллекции обновляются постоянно, при этом многие новинки продаются со скидкой. Подлинность товара гарантирована."/>
{% endblock %}
{% block css %}
{% endblock %}

{% block content %}



    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Каталог</h1>
                <div class="list-group">
                    <a href="{% url 'catalog:index' %}?{% if request.GET %}{{ request.GET.urlencode }}{% endif %}"
                       class="list-group-item">Все категории</a>
                    {% for category in categories %}
                        <a href="{% url 'products:category' category.id %}?{% if request.GET %}
{{ request.GET.urlencode }}{% endif %}"
                           class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="col-lg-9">


                {% if current_category_id %}
                    <form method="get" action="{% url 'catalog:category' current_category_id %}"
                          class="mb-4">
                {% else %}
                    <form method="get" action="{% url 'catalog:index' %}" class="mb-4">
                {% endif %}
                <div class="form-row mt-3">
                    <div class="form-group col-md-3">
                        <label for="gender">Пол:</label>
                        <select id="gender" name="gender" class="form-control">
                            <option value="">Не выбрано</option>
                            <option value="M" {% if request.GET.gender == "M" %}selected{% endif %}>Мужская</option>
                            <option value="F" {% if request.GET.gender == "F" %}selected{% endif %}>Женская</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="size">Размер:</label>
                        <select id="size" name="size" class="form-control">
                            <option value="">Не выбрано</option>
                            <option value="XXS" {% if request.GET.size == "XXS" %}selected{% endif %}>XXS
                                (38-40)
                            </option>
                            <option value="XS" {% if request.GET.size == "XS" %}selected{% endif %}>XS (40-42)
                            </option>
                            <option value="S" {% if request.GET.size == "S" %}selected{% endif %}>S (44-46)
                            </option>
                            <option value="M" {% if request.GET.size == "M" %}selected{% endif %}>M (46-48)
                            </option>
                            <option value="L" {% if request.GET.size == "L" %}selected{% endif %}>L (48-50)
                            </option>
                            <option value="XL" {% if request.GET.size == "XL" %}selected{% endif %}>XL (52-54)
                            </option>
                            <option value="XXL" {% if request.GET.size == "XX" %}selected{% endif %}>XXL
                                (52-54)
                            </option>
                            <option value="XXXL" {% if request.GET.size == "XXXL" %}selected{% endif %}>XXXL
                                (54-56)
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price__gt">Цена от:</label>
                        <input type="number" id="price__gt" name="price__gt" class="form-control"
                               value="{{ request.GET.price__gt }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price__lt">Цена до:</label>
                        <input type="number" id="price__lt" name="price__lt" class="form-control"
                               value="{{ request.GET.price__lt }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Фильтровать</button>
                <a href="














                        {% if current_category_id %}{% url 'catalog:category' current_category_id %}{% else %}{% url 'catalog:index' %}{% endif %}"
                   class="btn btn-secondary ml-2">Сбросить фильтры</a>
                </form>


                <div class="row">
                    {#                    {% cache 30 object_list page_obj.number category_id %}#}
                    {% for product in object_list %}
                        <div class="col-lg-4 col-md-6 mb-4 ">
                            <div class="card h-100">

                                <div id="carouselExampleIndicators-{{ product.id }}" class="carousel slide"
                                     data-ride="carousel" data-interval="false">
                                    <ol class="carousel-indicators">
                                        {% for item in product.images.all %}
                                            <li data-target="#carouselExampleIndicators-{{ product.id }}"
                                                data-slide-to="{{ forloop.counter0 }}" {% if forloop.first == 0 %}
                                                class="active" {% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        {% for item in product.images.all %}
                                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                                <img class="d-block img-fluid product-image" src="{{ item.image.url }}"
                                                     alt="Slide" data-images="

                                                        {% for img in product.images.all %}{{ img.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if product.images.count > 1 %}
                                        <a class="carousel-control-prev"
                                           href="#carouselExampleIndicators-{{ product.id }}"
                                           role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next"
                                           href="#carouselExampleIndicators-{{ product.id }}"
                                           role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    {% endif %}
                                </div>


                                <div class="card-body">
                                    <h5 class="card-title color-blue">{{ product.name }}</h5>
                                    <h5>{{ product.price|intcomma }} руб.</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text">Размер: {{ product.size }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="btn btn-outline-success"
                                       href="{% url 'products:basket_add' product.id %}">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"> Добавить в корзину</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {#                    {% endcache %}#}

                </div>

                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_previous %}
















                                       {% url 'products:paginator' page_obj.previous_page_number %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% else %}#{% endif %}"
                                   tabindex="-1" aria-disabled="true">
                                    Предыдущая
                                </a>
                            </li>
                            {% for page in paginator.page_range %}
                                <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                                    <a class="page-link" href="{% url 'products:paginator' page %}?
                                            {% if request.GET %}{{ request.GET.urlencode }}{% endif %}">
                                        {{ page }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_next %}

















                                       {% url 'products:paginator' page_obj.next_page_number %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% else %}#{% endif %}">
                                    Следующая
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

            </div>

        </div>

    </div>
    <!-- Modal with Carousel -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modalCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="carouselInner">
                            <!-- Здесь будут динамически добавляться слайды с изображениями -->
                        </div>
                        <a class="carousel-control-prev" href="#modalCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#modalCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
{% endblock %}
