{% extends 'errors/base.html' %}

{% block meta %}
    <meta name="description" content="Плохой запрос">
{% endblock %}

{% block content %}
<div class="container error-page">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-danger">400</h1>
            <h2>Плохой запрос</h2>
            <p>Похоже, что что-то пошло не так с вашим запросом. Попробуйте обновить страницу или вернуться на главную.</p>
            <a href="{% url 'index' %}" class="btn btn-primary mt-3">Вернуться на главную</a>
        </div>
    </div>
</div>
{% endblock %}
