{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4">Публичная оферта</h1>
            <p>Настоящая публичная оферта (далее — «Оферта») является официальным предложением Fesual Store, действующим на основании законодательства Российской Федерации, заключить договор купли-продажи товаров дистанционным способом, т.е. через интернет-магазин, расположенный на сайте fesualstore.ru (далее — «Сайт»).</p>
            <ul class="list-group mb-4">
                <li class="list-group-item">
                    <h5>Общие положения</h5>
                    <p>Настоящая Оферта регулирует отношения между Покупателем и Продавцом по продаже товаров. Покупатель обязуется внимательно ознакомиться с текстом настоящей Оферты. В случае несогласия с какими-либо пунктами Покупатель имеет право отказаться от покупки товаров, предоставляемых Продавцом.</p>
                </li>
                <li class="list-group-item">
                    <h5>Оформление заказа</h5>
                    <p>Покупатель оформляет заказ на Сайте самостоятельно, добавляя выбранные товары в виртуальную корзину и заполняя форму заказа. Покупатель обязуется предоставить достоверную информацию о себе. Продавец не несет ответственности за невозможность выполнения заказа в случае предоставления Покупателем недостоверной информации.</p>
                </li>
                <li class="list-group-item">
                    <h5>Оплата товаров</h5>
                    <p>Мы предлагаем различные способы онлайн-оплаты для вашего удобства через YooKassa. Вы можете оплатить заказ банковскими картами Visa, MasterCard и Мир, а также через электронные кошельки Яндекс.Деньги, WebMoney и Qiwi. Все платежи защищены и безопасны, данные передаются в зашифрованном виде через YooKassa и не сохраняются на наших серверах.</p>
                </li>
                <li class="list-group-item">
                    <h5>Доставка товаров</h5>
                    <p>Доставка товаров осуществляется по указанному Покупателем адресу. Сроки доставки зависят от региона и выбранного способа доставки. Покупатель обязуется обеспечить возможность приема заказа по указанному адресу. Продавец не несет ответственности за задержку доставки по вине транспортной компании или в случае указания Покупателем некорректного адреса.</p>
                </li>
                <li class="list-group-item">
                    <h5>Возврат и обмен товаров</h5>
                    <p>Покупатель имеет право на возврат или обмен товаров в соответствии с действующим законодательством Российской Федерации. Возврат или обмен товаров осуществляется при наличии чека и сохранении товарного вида продукции. Возврат денежных средств осуществляется на банковскую карту, с которой была произведена оплата, либо другим согласованным способом.</p>
                </li>
            </ul>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Правовая информация</h5>
                    <p class="card-text">Настоящая Оферта является юридически обязательным документом, регулирующим условия использования сайта и предоставления услуг. Магазин оставляет за собой право вносить изменения в настоящую Оферту в любое время. Покупатель обязуется самостоятельно отслеживать изменения в Оферте и прекращать использование сайта в случае несогласия с внесенными изменениями.</p>
                    <p class="card-text">В случае возникновения вопросов, пожалуйста, свяжитесь с нашей службой поддержки по электронной почте fesualstore@gmail.com. Мы всегда готовы помочь вам с любыми возникшими проблемами или вопросами.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}