.navbar-style {
    background: #000000;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    color: black;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
}
